.navbar-brand{
  font-size: 7px;
}
.a1{
  color: blue;
  margin-left: 750px;
  font-size: 10px;
}
.a2{
  color: blue;
  margin-left: 30px;
  font-size: 10px;
}
.a3{
  font-size: 10px;
  margin-left: 30px;
}
.a4{
  height: 350px;
  width: auto;
  background: #2eaaac;
}
.img1{
  width: 100px;
  height: 100px;
  margin-left: 480px;
  margin-top: 60px;

}
.a5{
  text-align: center;
}
.a6{
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
}
.a7{
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
}
.a8{
  text-align: center;
  margin-top: 20px;
  margin-left: 465px;
}
.a9{
  text-align: center;
margin-left: -192px;
  margin-top: 60px;
}
.img2{
  width: 300px;
  height: 220px;
  margin-left: 20px;
  border-radius: 5px;
}
.img3{
  width: 300px;
  height: 220px;
  margin-left: 0px;
  border-radius: 5px;
}
.img4{
  width: 300px;
  height: 220px;
  margin-left: -20px;
  border-radius: 5px;
}
.img5{
  width: 300px;
  height: 220px;
  margin-left: 20px;
  border-radius: 5px;

}
.img6{
  width: 300px;
  height: 220px;
  margin-left: 0px;
  border-radius: 5px;
}
.img7{
  width: 300px;
  height: 220px;
  margin-left: -20px;
  border-radius: 5px;
}
.a10{

  height: 350px;
  width: auto;
  background: #2eaaac;
  margin-left: -20px;
}